.ReplayMsgitem {
  border-left: 2px solid rgb(245, 101, 101);
  padding:5px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
 
}

.ReplayMsgitemText {
  font-size: 12px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
 
}
.ReplayMsgitemTextFull{
  font-size: 12px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReplayforName {
  font-weight: 700;
  font-size: 12px;
}

.ReplayBox {

  max-height: 100px;
  overflow: auto !important;


}

.ReplayMsgFor {

  padding: 0px 2px 2px 2px;
  color: rgb(193, 171, 171);
}

.ReplayBoxTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 999;

  background-color: white;
}

.GroupSHBoxEdit {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
  padding: 20px;
  margin: 2px;
  margin-top: 30px;

}

.MsgBtnsBox {
  display: flex;
  align-items: center;
  min-height: 25px;

}

.whiteImage {
  filter: invert(100%) brightness(100%);
}

.blackImage {
  filter: brightness(0%);
}

.MsgBtns {

  width: 20px;
  cursor: pointer;
  margin-left: 5px;

}

.GroupSHBox {
  min-height: 200px;


  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.Navttitle {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;

}

.NavttitleB {
  margin-left: 10px !important;
  font-weight: 600;
}

.PageBox {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

.SmallMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Mh {
  display: flex;
  align-items: center;
  width: 100%;

  margin-bottom: 10px;
  padding: 15px;
}

.MhB {
  margin-left: 7px;
  font-weight: 600;
}

.SmallMenuItemA {
  margin-top: 4px;
}

.SmallMenuItemB {
  margin-left: 10px;
}

.GroupNameT span {
  font-weight: 600;
  font-size: 18px;
}

.FormTitle {

  margin-bottom: 20px;
}

.FormTitle span {
  font-weight: 600;
  font-size: 14px;
}

.TotalMembers span {
  font-weight: 600;
  font-size: 15px;
}

.Description span {
  font-weight: 500;
  font-size: 12px;
}

.JBTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;

  width: 100%;
}

.GroupInfoMb {
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.JBTopInfo {

  width: 40%;
  margin: auto;
  border-radius: 30px;
  background-color: white;
  color: black;
}

.JoinGroupBox {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100vh;
  overflow: 'auto';
 

}

.GroupInfobox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: 'auto';
 

}


.DpDiloagContainer {
  margin: 0 auto;
  width: 50%;
}

.DpDiloagHeader {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.UploadteUploadDetalisBox {

  font-size: 10px;
  margin-top: 10px;
}

.UploadingboxText {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.UploadingboxTextDone {
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;

}

.dropzoneStylesA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;

}

.dropzoneStylesB {

  font-weight: 600;
  text-align: center;

}

.DpMbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SideBarTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.SideBarTitle span {
  font-weight: 600;
}

.MobileNavb {
  display: none;
}


.ContainerMain {
  margin: auto;
  width: 80%;

}

.Container {
  margin: auto;
  width: 80%;


}

.msgBox {
  width: 100%;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(minmax(100%, 1fr));
}


.msgItem {
  display: flex;
  width: 100%;

}

.received_msg {


  background-color: rgb(123, 0, 255);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(235, 232, 227);


  color: white;
  max-width: fit-content;
  float: right;
  position: relative;
  margin-right: 50px;

}


.sent_msg {

  background-color: rgb(196, 212, 123);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(235, 232, 227);
  color: rgb(15, 15, 15);


  position: relative;
  width: fit-content;

  margin-left: 50px;
  display: flex;
  justify-content: flex-end;


}


.Chatbox {
  position: relative;
  height: 70vh;
  overflow: 'hidden';
 

}

.msgTextarea {
  width: 100%;
  border: none;
  outline: none;

  max-height: 100px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.GroupAvatarBig {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;

  object-fit: center;
}

.UserAvatar {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  overflow: hidden;

  object-fit: center;
}

.ChatWritebox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 5px;
}

.CenterLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ChatWriteboxB {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.ChatboxFotter {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  bottom: 0;
  z-index: 999;
 
  background-color: white;

  padding: 5px;
}


.DotDevider {
  margin-left: 5px;
  margin-right: 5px;
  color: #23d5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;

}


.OnlineText {
  font-size: 10px;
  font-weight: 600;
  color: blueviolet;
}

.GroupTop {
  display: flex;
  align-items: center;
  padding: 10px;
}

.GroupTopB {
  margin-left: 10px;
}

.GroupItemLogoSmall {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  padding: 2px;

}

.GroupHeader {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 999;
  /* box-shadow: 0 2px 15px rgba(0, 0, 0, .08); */

  background-color: white;



}

.Recentmsg span {
  font-weight: 600;
}

.GroupHeaderMain {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.Fullbg {

  background-color: rgb(255, 255, 255);
}



.Joinmorebtn {
  margin: auto;
  width: 95%;
  margin-top: 30px;
}


.ChatSection {
  display: flex;

}

.ChatSectionA {
  height: 100vh;
  width: 40%;
  position: sticky;
  top: 0;
  background-color: transparent;
  overflow: auto;
  border-right: 2px solid rgb(243, 237, 237);
  background-color: white;

}

/* Scrollbar styling */
.ChatSectionA::-webkit-scrollbar {
  width: 10px;
}

.ChatSectionA::-webkit-scrollbar-thumb {
  /* background-color: rgb(243, 237, 237); */
  border-radius: 10px;
  border: 2px solid rgb(243, 237, 237);
  /* Optional: to add some space around the thumb */
}

.ChatSectionA::-webkit-scrollbar-thumb:hover {
  background-color: rgb(226, 31, 31);
}

.ChatSectionA::-webkit-scrollbar-track {
  background-color: rgb(190, 43, 43);
  border-radius: 10px;
}

/* For Firefox */
.ChatSectionA {
  scrollbar-width: thin;
  scrollbar-color: rgb(243, 237, 237);
}



.ChatSectionB {
  width: 100%;


}

.craetegrpbtn {
  padding: 10px;
  margin-top: 20px;

}

.craetegrpbtnBottom {
  padding: 10px;

  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 999;
}

.JoinbtnBox {
  padding: 5px;
  width: 50%;
  margin: auto;
}

.AsideTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;

  padding: 15px;

  border-bottom: 2px solid wheat;

}

.AsideTopA {
  display: flex;
  align-items: center;
}

.AsideTopLogo {
  border-radius: 10px;
  padding: 5px;


  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
  width: 70px;

}

.AsideTopText {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
}

.Mobilepadding {
  padding: 0px;

}

.spcedevider {
  min-height: 50px;
}

.AsideTopText span {
  font-weight: 600;
  font-size: 15px;
}

.AsideTopText small {
  font-weight: 600;
  font-size: 10px;
}

.OnlyDesktop {
  display: block;
}

.OnlyMobile {
  display: none;
}


.ModalHeader {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);

}

.formbtn {
  width: 50%;
  margin-top: 20px;


}

.inputItem {
  margin-top: 20px;
}

.ModalHeaderMainAB span {
  font-size: 14px;
  font-weight: 600;
}

.ModalHeaderMain {
  width: 70%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;



}

.ModalContainer {
  width: 60%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  min-height: 100vh;
}

.ModalHeaderMainA {
  display: flex;
  align-items: center;
}

.ModalHeaderMainA {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 999;
}


.GroupGridAll {
  margin: 0 auto;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(minmax(99%, 1fr));
}

.GroupGrid {
  margin: 0 auto;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(minmax(99%, 1fr));
}

.GroupItemLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 5px;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

}

.GroupItemFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.GrouCountItemB {

  display: flex;
  align-items: center;
  margin-top: 5px;
}

.GroupNameText {
  color: #000000;

  font-weight: 600;
}

.MemberCountText span {
  color: #546561;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.SubText {
  color: #546561;
  font-size: 10px;
  font-weight: 500;
}

.GroupItemFooterA {
  width: 50%;
}

.GroupItemFooterB {
  width: 50%;
}

.GrouCountItem {
  display: flex;
  align-items: center;
}

.GroupItemDetails {
  display: flex;
  flex-direction: column;
  line-height: normal;
}


.GroupName span {
  font-weight: 500;
  font-size: 13px;
}

.GroupName small {
  font-weight: 500;
  font-size: 12px;
}

.MsgTimebox span {
  font-weight: 500;
  font-size: 8px;
}

.Tagline span {
  font-weight: 500;
  font-size: 10px;
}


.GroupItemTop {
  display: flex;
  align-items: center;


}

.GroupItemTopB {
  margin-left: 10px;
}

.GroupItem {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

}

.GroupItem:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, .08);

}


.AllGroupItem {


  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(219, 208, 208);


}

/* mobile css */
/* mobile css */
/* mobile css */
/* mobile css */
/* mobile css */
/* mobile css */
/* mobile css */
@media only screen and (max-width: 1100px) {
  .OnlyDesktop {
    display: none;
  }

  .OnlyMobile {
    display: block;
  }


  .ModalHeaderMain {
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;



  }

  .ModalContainer {
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    min-height: 100vh;
  }

  .formbtn {
    width: 100%;
    margin-top: 20px;


  }


  .ContainerMain {
    margin: auto;
    width: 100%;

  }

  .Container {
    margin: auto;
    width: 100%;


  }

  .ChatSectionB {
    width: 100%;
  }

  .ChatSection {
    display: flex;
    flex-direction: column;


  }

  .Joinmorebtn {
    display: none;
  }

  .ChatSectionA {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    background-color: transparent;
    overflow: auto;
    border-right: none;
    display: none;


  }

  .Mobilepadding {
    padding: 10px;
  }

  .SideBarTitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .SideBarTitle span {
    font-weight: 600;
  }

  .MobileNavb {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 999;

  }

  .DpMbox {
    padding: 10px;
  }

  .JoinbtnBox {
    padding: 5px;
    width: 100%;
    margin: auto;
  }

  .JBTopInfo {

    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    color: black;
    height: 100%;
  }

  .GroupInfoMb {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  .Mh {
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 10px;
    padding: 10px;
  }

  .PageBox {
    width: 100%;
  }


  .ChatboxFotter {
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
   
    background-color: white;
  
    padding: 5px;
  }
  
.Chatbox {
  position: relative;
  height: 80vh;
  overflow: 'hidden';
 

}

  
}